@font-face {
    font-family: "Creepy";
    src: url("Assets/Fonts/Creepy.woff") format("woff"), url("Assets/Fonts/Creepy.woff2") format("woff2")
}

@font-face {
    font-family: "Lunacy";
    src: url("Assets/Fonts/Lunacy.woff") format("woff"), url("Assets/Fonts/Creepy.Lunacy.woff2") format("woff2")
}

* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body {
    margin: border-box;
    background: radial-gradient(#9d5900, #3d2200) ;
}

.page-title {
    color: #ff6d00;
    font-family: Creepy, serif;
    font-weight: normal;
    text-align: center;
    font-size: 6em;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 10pc;
    row-gap: 10px;
}

.game-info-container {
    
}

.game-info {
    color: #ffbb89;
    font-family: Lunacy, serif;
    font-size: 4em;
}

.card {
    background: black;
    height: 175px;
    width: 125px;
}